extends ../layouts/application.pug
block content
  .container
    .row.m-y-2
      .col-lg-8.push-lg-4
        ul.nav.nav-tabs
          li.nav-item
            a.nav-link.active(href='', data-target='#profile', data-toggle='tab') Profile
          li.nav-item
            a.nav-link(href='', data-target='#messages', data-toggle='tab') Messages
          li.nav-item
            a.nav-link(href='', data-target='#edit', data-toggle='tab') Edit
        .tab-content.p-b-3
          #profile.tab-pane.active
            h4.m-y-2 User Profile
            .row
              .col-md-12
                h6 About
                p
                  | Web Designer, UI/UX Engineer
                h6 Hobbies
                p
                  | Indie music, skiing and hiking. I love the great outdoors.
          #messages.tab-pane
            h4.m-y-2 Recent Messages & Notifications
            .alert.alert-info.alert-dismissable
              a.panel-close.close(data-dismiss='alert') ×
              |  This is an
              strong .alert
              | . Use this to show important messages to the user.
          #edit.tab-pane
            h4.m-y-2 Edit Profile
            form(method='post', action='/users/' + user._id + '?_method=PUT')
              .form-group.row
                label.col-lg-3.col-form-label.form-control-label Username
                .col-lg-9
                  input.form-control(type='text', name='name', value=user.profile.name)
              .form-group.row
                label.col-lg-3.col-form-label.form-control-label Email
                .col-lg-9
                  input.form-control(type='email', name='email', value=user.email)
              .form-group.row
                label.col-lg-3.col-form-label.form-control-label Gender
                .col-lg-9
                  label.radio.col-sm-3
                    input(type='radio', checked=user.profile.gender=='male', name='gender', value='Male')
                    span Male
                  label.radio.col-sm-3
                    input(type='radio', checked=user.profile.gender=='female', name='gender', value='Female')
                    span Female
                  label.radio.col-sm-3
                    input(type='radio', checked=user.profile.gender=='other', name='gender', value='Other')
                    span Others
              .form-group.row
                label.col-lg-3.col-form-label.form-control-label Address
                .col-lg-9
                  input.form-control(type='text', name='address', value=user.profile.address)
              .form-group.row
                label.col-lg-3.col-form-label.form-control-label
                .col-lg-9
                  input.btn.btn-secondary(type='reset', value='Cancel')
                  input.btn.btn-primary(type='submit', value='Save Changes')
      .col-lg-4.pull-lg-8.text-xs-center
        if (user.profile.picture)
          img.m-x-auto.img-fluid.rounded-circle(src=user.profile.picture, alt='avatar')
        else
          img.m-x-auto.img-fluid.rounded-circle(src='//placehold.it/150', alt='avatar')
        form(method='post',action='/profile/avatar', enctype="multipart/form-data")
          label.custom-file
            input#file(type='file', name='avatar')
            button.btn.btn-primary(type='submit') Upload
